body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'Caveat-Regular';
  src: url('../fonts/Caveat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Vasek';
  src: url('../fonts/Vasek.ttf') format('truetype');
}

.frame-container {
  font-family: "Calibri", sans-serif;
  font-style: normal;
  line-height: normal;
  box-sizing: border-box;
  background-color: rgb(216, 216, 216);
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  width: 100vw;
  height: 100vh;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 10px;
}

.p-container {
  box-sizing: border-box;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.p1 {
  font-size: 3vh;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.p2 {
  font-size: 2vh;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.game-container {
  box-sizing: border-box;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 80%;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 10px;
}

.screen-container {
  box-sizing: border-box;
  background-color: rgb(200, 200, 200);
  overflow: hidden;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-container-1 {
  box-sizing: border-box;
  background-color: rgb(220, 220, 220);
  overflow: hidden;
  width: 25%;
  height: 50%;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 10px;
  margin-right: 15%;
}

.image-container-2 {
  box-sizing: border-box;
  background-color: rgb(220, 220, 220);
  overflow: hidden;
  width: 25%;
  height: 50%;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 10px;
  margin-left: 15%;
}

.button-container {
  font-size: 3vh;
  box-sizing: border-box;
  background-color: rgb(220, 220, 220);
  overflow: hidden;
  width: 100%;
  height: 10%;
  border-top: 1px solid rgb(120, 120, 120);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.listen-button {
  font-size: 2.5vh;
  box-sizing: border-box;
  background-color: rgb(220, 220, 220);
  overflow: hidden;
  width: 20%;
  height:80%;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 10px;
  margin-left: 5%;
}

.p-progress {
  margin: 0 auto;
}

.smile-container-background {
  box-sizing: border-box;
  background-color: rgb(220, 220, 220);
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  height: 10%;
}

.smile-container {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

